<div class="main">
    <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
    <form action="/question/add" method="POST">
        <textarea maxlength="200" name="questionContent" id="" cols="150" rows="10"></textarea>
        <p>con 200/200 ki tu</p>
        <button type="submit" class="btn-submit">Gửi</button>
    </form>
</div>

