<div class="main">
    <h3>{{question.content}}</h3>

    Có tất cả {{totalVote}} vote

    <br>

    yes: {{question.yes}}
    no: {{question.no}}
    <br>

    <a href="/"><Button>Cau hoi khac</Button></a>
</div>

