<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Quyet de</title>
</head>
<body>
    <nav class="navbar">  
        <span><a href="/" ><button class="web-name sub-web">Quyết đê!</button></a></span>
        <span><a href="/ask"><button class="web-name sub-web">Hỏi nhanh</button></a></span>
        <span><a href="/"><button class="web-name sub-web">Đáp gọn</button></a></span>
    </nav>
    <div class="main">
        <div class="leftside"></div>
        {{{body}}}
    </div>
    
    
</body>
</html>